.sph-services {
  position: relative;

  .sph-services__service {
    width: 100%;
    min-height: 564px;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .slide {
      margin: 12px;

      &:hover > .sph-services__service__info {
        opacity: 1;

        h1 {
          opacity: 1;
          transform: translateX(0px);
        }

        p {
          opacity: 1;
          transform: translateX(0px);
          transition-delay: 0.1s;
        }
      }

      &:hover {
        &::before {
          opacity: 0.92;

          @media (hover: none) or (max-width: 768px) {
            background-color: transparent;
            opacity: 1;
          }
        }
      }

      display: block;
      height: 100%;
      width: 100%;
      position: relative;

      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #000;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      .sph-services__service__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        position: absolute;
        top: 90px;
        left: 28px;
        padding-right: 28px;
        padding-bottom: 28px;
        z-index: 1;
        opacity: 0;
        user-select: none;
        transition: all 0.3s ease-in-out;

        @media (hover: none) or (max-width: 768px) {
          position: static;
          background: linear-gradient(
            129deg,
            rgb(0, 0, 0) 0%,
            rgb(12, 12, 12) 51%,
            rgb(33, 33, 33) 89%,
            rgb(49, 49, 49) 100%
          );
          gap: var(--sph-spacing-md);
          padding: var(--sph-spacing-md);
          padding-bottom: var(--sph-spacing-xxl);
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          opacity: 1;
        }

        h1 {
          font-size: 32px;
          font-weight: 200;
          transform: translateX(-35px);
          opacity: 0;
          transition: all 0.3s ease-in;

          @media (hover: none) or (max-width: 768px) {
            font-size: 32px;
            font-weight: bold;
            transform: translateX(0px);
            opacity: 1;
          }
        }

        p {
          font-size: 20px;
          text-align: justify;
          transform: translateX(-35px);
          opacity: 0;
          transition: all 0.3s ease-in;

          @media (hover: none) or (max-width: 768px) {
            font-size: 16px;
            transform: translateX(0px);
            opacity: 1;
          }
        }
      }
    }
  }

  .sph-home__graphics-circle-red-thick {
    top: 100px;
  }
}
