.sph-title {
  h2 {
    font-size: 82px;
    font-weight: bold;
    position: relative;
    margin-bottom: 64px;

    @media (max-width: 768px) {
      font-size: 42px;
    }

    &:first-letter {
      color: var(--sph-color-primary);
    }

    &:before {
      content: "";
      position: absolute;
      background-color: var(--sph-color-primary);
      width: 100%;
      height: 4px;
      left: -92%;
      bottom: -16px;
    }
  }
}

.sph-number {
  font-family: "Righteous", cursive;
  font-weight: normal;
}
