:root {
  --sph-color-primary: #f3ef7c;
  --sph-color-secondary: #590c1c;
  --sph-color-neutral-00: #151515;
  --sph-color-neutral-02: #0c0b0b;
  --sph-color-neutral-03: #202020;
  --sph-color-neutral-05: #545454;
  --sph-color-neutral-06: #565656;
  --sph-color-neutral-08: #b2b2b2;
  --sph-color-neutral-10: #fff;
}
